.logo{
    font-family: 'Mulish', sans-serif;
    color:#4c4c4c;
    background: rgb(255,255,255);
    background: linear-gradient(178deg, rgba(255,255,255,1) 0%, rgba(171,171,171,1) 79%, rgba(22,0,25,1) 94%, rgba(58,43,60,1) 94%);
    display: flex;
    height: 60px;
    width: 100%;    
    align-items: center;
    border-bottom: 1px solid 00006b ;
}
.logo__texto{
    display: flex; 
    height: 50px;
    
    
}
.logo__header{
    border-radius: 60px;
    box-shadow:3px 3px 10px #4c4c4c;
    max-height: 50px;
}
.textos__header{
   
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 15px;
    font-size: 13px;
    width: 125px;
}
.texto__nombre{

    display: flex;
    
    border-bottom: black;
    border-bottom: 1.5px solid #EAE6E6;
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 3px;
    color: #160019;
    
}
.menu{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.menu__items{
   
    height: 100%;
    display: flex;
    align-items: center;
    
}
.menu__item{
    
    color: #160019;
    padding: .5em 1.2rem .5em 1.2rem;
    border-left: 2px solid #EAE6E6;
    width: calc(100% / 7);
    margin-right: 10px;
    text-decoration: none;
    
}
.menu__item:hover{
    color: #EAE6E6;

}
.activo{
    text-decoration: underline;
}

@media screen and (max-width: 600px){
    .navbar{

        display: flex;
        background: rgb(255,255,255);
        background: linear-gradient(178deg, rgba(255,255,255,1) 0%, rgba(171,171,171,1) 100%);
        height: 60px;
    }
   
    .logo{
        display: none;
    }
    .logo__header{
        height: 45px;
    }
    
    
    
}
@media screen and (min-width: 600px){
    .navbar{
        display: none;
    }
    .logo{
        display: flex;
    }
    
    
}
@media screen and (min-width: 600px ) and (max-width: 880px){
    .menu__item{
        font-size: 15px;
    }
    .menu__item:nth-child(1) {
        padding: .5em .5rem .5rem .5rem;
    }
    
}